<div class="form-group">
  <%= label_tag('item_name', 'Nombre', :class => 'col-sm-2 control-label') %>
  <div class="col-sm-10">
    <%= text_field(:item, :name, :class => 'form-control', :placeholder => 'Nombre', :autocomplete => 'off') %>
  </div>
</div>
<div class="form-group">
  <%= label_tag('item_description', 'Descripción', :class => 'col-sm-2 control-label') %>
  <div class="col-sm-10">
    <%= text_field(:item, :description, :class => 'form-control', :placeholder => 'Descripción', :autocomplete => 'off') %>
  </div>
</div>

<div class="form-group">
  <%= label_tag('item_price', 'Precio', :class => 'col-sm-2 control-label') %>

  <div class="col-sm-10">
    <%= text_field(:item, :price, :class => 'form-control', :placeholder => 'Price', :autocomplete => 'off') %>
  </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <%= check_box(:item, :track_inventory) %>
         Controlar inventario
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= label_tag('item_inventory', 'Inventario', :class => 'col-sm-2 control-label') %>

  <div class="col-sm-10">
    <%= text_field(:item, :inventory, :class => 'form-control', :placeholder => 'Price', :autocomplete => 'off') %>
  </div>
</div>


