<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Editar Item
  </h1>
</header>
<%= render :partial => 'shared/alerts' %>
<%= form_tag('/items/2', :method => 'put', :class => 'form-horizontal', :role => 'form') do %>

    <%= render :partial => 'form', :item => @item, :locals => {:language => 'ingles'} %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="/items">
          <button type="button" class="btn btn-default">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>
<% end %>
