<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Items
  </h1>
  <a href="/items/new">
    <button type="button" class="btn btn-primary btn-lg" style="float: right; margin-top: 15px;">Crear Item</button>
  </a>
</header>

<%= render :partial => 'shared/alerts' %>


<table class="table">
  <thead>
  <tr class="active">
    <th>Id</th>
    <th>Nombre de Item</th>
    <th>Descripción</th>
    <th>Inventario</th>
    <th>Precio</th>
    <th style="text-align: right;" width="10%;"></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td>1</td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td>---</td>
        <td>234</td>
        <td style="text-align: right;">
          <%= link_to edit_item_path(5) do %>
              <span class="glyphicon glyphicon-pencil titled" title="Editar"></span>
          <% end %>
          <%= link_to item_path(5), :method => :delete, :data => {:confirm => 'Are you sure?'} do %>
              <span class="glyphicon glyphicon-remove titled" title="Eliminar"></span>
          <% end %>
        </td>

      </tr>
  <% end %>

  </tbody>
</table>


