<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Facturas
  </h1>
  <a href="invoices/new">
  <button type="button" class="btn btn-primary btn-lg" style="float: right; margin-top: 15px;">Crear Factura</button>
    </a>
</header>


<table class="table">
  <thead>
  <tr class="active">
    <th>Factura</th>
    <th>Cliente</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Total</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1343</td>
    <td>John</td>
    <td>Casas</td>
    <td>10/23/14</td>
    <td>2000000</td>
    <td>Borrador</td>

  </tr>
  <tr>
    <td>3342</td>
    <td>Peter</td>
    <td>Material</td>
    <td>10/23/14</td>
    <td>2430000</td>
    <td>Completado</td>
  </tr>

  </tbody>
</table>