

  <header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
    <h1 style="float: left; margin-top: 16px;">
      Crear Factura
    </h1>

  </header>


  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class=" col-sm-offset-5  col-sm-3 control-label">Cliente</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Buscar Cliente">
      </div>
    </div>
    <div class="form-group">

      <div class="col-sm-5" >
        <input type="text" class="form-control" placeholder="Buscar Item">
      </div>



      <label for="inputEmail3" class="col-sm-3 control-label">Fecha</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="dd/mm/aaaa">
      </div>
    </div>
  </form>


  <table class="table " >
    <thead>
    <tr class="active">
      <th>Item</th>
      <th style="text-align: right;">Precio</th>
      <th style="text-align: right;">Cantidad</th>
      <th style="text-align: right;">Total de Línea</th>
      <th style="text-align: right;" width="5%;"></th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Camiseta</td>
      <td>
        <input type="text" class="form-control" placeholder="Cantidad" style="width: 90px; float: right; text-align: right;">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" style="width: 50px; float: right; text-align: right;">
      </td>
      <td style="text-align: right;">54</td>
      <td style="text-align: right;"><span class="glyphicon glyphicon-remove-sign titled" title="Eliminar" data-placement="left"  style=" color:#a9a9a9; font-size: 20px; margin-top: 5px;"></span></td>

    </tr>
    <tr>
      <td>Camiseta</td>
      <td>
        <input type="text" class="form-control" placeholder="Precio" style="width: 90px; float: right; text-align: right;">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" style="width: 50px;float: right;text-align: right;">
      </td>
      <td style="text-align: right;">54</td>
      <td style="text-align: right;"><span class="glyphicon glyphicon-remove-sign titled" title="Eliminar" data-placement="left" style=" color:#a9a9a9; font-size: 20px; margin-top: 5px;"></span></td>

    </tr>


    </tbody>
  </table>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-8 col-sm4" style="text-align: right;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <label for="inputEmail3" class="col-sm-6 control-label">Subtotal</label>
              <span for="inputEmail3" class="col-sm-6">343</span>
            </div>
            <div class="row">
              <label for="inputEmail3" class=" col-sm-6 control-label">Impuestos</label>
              <span for="inputEmail3" class="col-sm-6">343</span>
            </div>
            <div class="row">
              <label for="inputEmail3" class="col-sm-6 control-label">Total</label>
              <span for="inputEmail3" class="col-sm-6">343</span>
            </div>

            <div class="row">
              <label for="inputEmail3" class="col-sm-6" style="font-weight: normal;">Pago efectivo</label>
              <span for="inputEmail3" class="col-sm-6">$50</span>
            </div>
            <div class="row">
              <label for="inputEmail3" class="col-sm-6 control-label" style="font-weight: normal;">Pago tarjeta</label>
              <span for="inputEmail3" class="col-sm-6">$30</span>
            </div>

            <div class="row">
              <label for="inputEmail3" class="col-sm-6" style="font-weight: normal;"><a href="#" >Agregar pago</a></label>
            </div>

          </div>

          <div class="panel-footer">
            <div class="row">
              <label for="inputEmail3" class="col-sm-6 control-label">Balance</label>
              <span for="inputEmail3" class="col-sm-6">0</span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

