<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Configuración
  </h1>

</header>

<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 40px;">
  <li role="presentation" class="active"><a href="/settings/account">Mi Cuenta</a></li>
  <li role="presentation"><a href="/settings/admin">Admin</a></li>

</ul>



<div class="well well-sm">Cuenta de Usuario</div>



  <form class="form-horizontal" role="form" style="margin-left: 30px;">
    <div class="form-group">
      <span class="glyphicon glyphicon-envelope" style="margin-right: 5px; color:#a9a9a9;"></span><a href="#edit-email">luiscarlosch@gmail.com</a><span class="glyphicon glyphicon-pencil titled" title="Editar Email" data-placement="right"  style="margin-left: 5px; "></span>
    </div>
    <div class="form-group">

      <span class="glyphicon glyphicon-wrench" style="margin-right: 5px; color:#a9a9a9;"></span><a href="#edit-password">Cambiar Contraseña</a><span class="glyphicon glyphicon-pencil titled" title="Editar Contraseña" data-placement="right" style="margin-left: 5px; "></span>
    </div>
    <div class="form-group">

      <span class="glyphicon glyphicon-time" style="margin-right: 5px; color:#a9a9a9;"></span>Usuario desde: 12/2/2013
    </div>
    <div class="form-group">

      <span class="glyphicon glyphicon-remove-sign" style="margin-right: 5px; color:#a9a9a9;"></span><a href="#edit-password">Desactivar Cuenta</a>
    </div>



  </form>






<div class="well well-sm">Información de Contacto</div>



  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Apellidos</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Descripción">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Teléfono">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Organización</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Organización">
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="/items">
          <button type="button" class="btn btn-default">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>








