<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Configuración
  </h1>

</header>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="/settings/account">Mi Cuenta</a></li>
  <li role="presentation" class="active"><a href="/settings/referrals">Programa de Referidos</a></li>
</ul>