<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Clientes
  </h1>
  <a href="/clients/new">
    <button type="button" class="btn btn-primary btn-lg" style="float: right; margin-top: 15px;">Crear Cliente</button>
  </a>
</header>


<table class="table">
  <thead>
  <tr class="active">
    <th>Organización</th>
    <th>Contacto</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>White Kitchen</td>
    <td>Cesar</td>
    <td>Cesar@whitekitchen.com</td>

    <td>234</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Web maintanence </td>
    <td>Montly support</td>

    <td>23</td>
  </tr>

  </tbody>
</table>


