<header style="height: 80px; border: 0px solid #000000; margin-bottom: 15px;">
  <h1 style="float: left; margin-top: 16px;">
    Crear Cliente
  </h1>

</header>



  <form class="form-horizontal" role="form">

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h4>
          <label class="control-label">Organización</label>
        </h4>
      </div>
    </div>


    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre de Organización">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h4>
          <label class="control-label">Contactos</label>
        </h4>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre de Contacto">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Apellidos</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Apellidos de Contacto">
      </div>
    </div>


    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Email">
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="#">Agregar otro contacto</a>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h4>
          <label class="control-label">Detalles</label>
        </h4>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Dirección">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Cuidad</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Cuidad">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">País</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="País">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Teléfono">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Notas internas</label>

      <div class="col-sm-10">
        <textarea class="form-control" rows="3" placeholder="Notas internas"></textarea>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="/items">
          <button type="button" class="btn btn-default">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>


  </form>


