<!DOCTYPE html>
<html lang="en">
<head>
  <title>Factura Cohete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="sidebar">

    <div style="color: #428bca;text-align: center;">
      <a href="/">
        <span class="glyphicon glyphicon-leaf" style="font-size: 60px;  margin-top: 7px;"></span>
      </a>
    </div>
<a href="/invoices/new">
    <button type="button" class="btn btn-success btn-lg" style="width: 100%;margin-top: 30px;">Crear Factura</button>
</a>
    <div class="list-group" style="margin-top: 20px;">
      <a href="/invoices" class="list-group-item">Facturas</a>
      <a href="/items" class="list-group-item">Items</a>
      <a href="/clients" class="list-group-item">Clientes</a>
    </div>

    <div>
      <a href="/settings/account">
      <span class="icon glyphicon glyphicon-cog titled" title="Configuración"  style="margin-left: 30px;"></span>
      </a>
      <span class="icon glyphicon glyphicon-log-out titled" title="Cerrar Sesión" style="margin-left: 5px;"></span>


    </div>

  </div>
  <div class="content">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>

