.wrapper {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    margin-top: 30px;

}

.wrapper .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
}

.wrapper .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.wrapper .sidebar ul li {
    text-align: center;
}

.wrapper .sidebar ul li a {
    display: block;
}

.wrapper .content {
    margin-left: 160px;
    padding-left: 40px;
}

.wrapper .content .header {
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    float: left;
    text-align: center;
    font-size: 25px;
    padding-top: 12px;
}

@media (max-width: 768px) {
    .wrapper .sidebar {
        display: none;
    }

    .wrapper .content {
        margin-left: 0px;
    }
}


